@import '~@/presentation/styles/colors.scss';

.inputWrap {
  position: relative;

  border-bottom: 2px dashed $disabledColor;
  margin-top: 40px;

  &[data-status='valid'] {
    border-bottom-color: $valid;

    &::after {
      background-color: $valid;
    }
  }
  &[data-status='invalid'] {
    border-bottom-color: $invalid;

    &::after {
      background-color: $invalid;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;

    width: 100%;
    height: 2px;

    transform-origin: 0%;
    transform: scaleX(0);

    transition: transform 400ms;

    background-color: $disabledColor;
  }

  &:focus-within {
    border-color: transparent;

    &::after {
      transform: scaleX(1);
    }

    label span {
      transform: translateY(-20px) scale(0.9);
    }
  }

  input {
    width: 100%;
    padding: 0px 40px 0 8px;

    line-height: 24px;

    &:not(:placeholder-shown) + span {
      transform: translateY(-20px) scale(0.9);
    }
  }

  label span {
    position: absolute;
    left: 8px;

    transform-origin: 0%;
    transform: translateY(0);

    transition: transform 400ms;
    cursor: text;

    color: $disabledColor;
  }
}
