@import '~@/presentation/styles/colors.scss';
@import '~@/presentation/styles/animations.scss';

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background;

  .contentWrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    padding: 40px;

    &:empty {
      position: relative;
      background-repeat: no-repeat;
      background-image: linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground);
      background-position: 40px 40px, 136px 50px, 136px 80px, 136px 110px, 40px 172px, 40px 270px,
        40px 372px;
      background-size: 80px 100px, calc(70% - 176px) 20px, calc(100% - 176px) 20px,
        calc(80% - 176px) 20px, calc(100% - 80px) 82px, calc(100% - 80px) 82px,
        calc(100% - 80px) 82px;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, transparent, rgba($white, 0.2), transparent);
        transform: translateX(-100%);
        animation: shimmer 1.2s infinite;
      }
    }

    .loadingWrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($white, 0.8);
      cursor: wait;

      .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 150px;
        border-radius: 8px;
        background-color: rgba($black, 0.9);

        span {
          margin-bottom: 8px;
          font-size: 16px;
          color: $white;
          text-transform: lowercase;
        }

        .spinner div {
          background: $white;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResultWrap {
    .contentWrap {
      &:empty {
        background-image: linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground),
          linear-gradient(to right, $disabledBackground, $disabledBackground);
        background-position: 40px 40px, 116px 50px, 116px 80px, 116px 110px, 40px 172px, 40px 260px,
          40px 352px;
        background-size: 60px 100px, calc(70% - 176px) 20px, calc(100% - 176px) 20px,
          calc(80% - 176px) 20px, calc(100% - 80px) 72px, calc(100% - 80px) 72px,
          calc(100% - 80px) 72px;
        overflow: hidden;
      }
    }
  }
}
