@import '../../styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background-color: $background;
}

input[type='email'],
input[type='password'] {
  padding: 0 24px 0 8px;
  border: 1px solid $primaryLight;
  border-radius: 4px;

  line-height: 40px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  border: none;
  border-radius: 8px;

  background-color: $primary;

  font-size: 16px;
  line-height: 60px;
  color: $white;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 400px;
    padding: 40px;
    border-radius: 8px;

    background-color: $white;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      font-size: 20px;
      color: $primaryDark;
      text-align: center;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 32px;
    }

    .link {
      margin-top: 16px;

      text-align: center;
      color: $primary;
      text-transform: lowercase;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
